# dependencies
node_modules/
package-lock.json

# environment variables
.env

# logs
*.log
logs/

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Optional: build outputs or temp
dist/
build/
*.tmp
